
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  padding: 150px;
}


body {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}


p {
  font-size: 1.25rem;
  line-height: 145%;
  color: #000;
  font-family: 'lexend';
}

h1 {
  font-family: 'Host Grotesk', sans-serif;
  font-size: 4.4rem;
  font-weight: bold;
  line-height: 115%;
  margin-bottom: 1%;
  margin-top: 0px;
  color: #000;
}

h2 {
  font-family: Host grotesk;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: left;
    color: #000;    
}

h3 {
  font-family: 'Host Grotesk', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 0rem;
  color: #000;  
  width: 20rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  margin-top: 0px;
  color: #f8f8f8;
  background-color: #f8f8f8;
  z-index: 20;
  font-family: 'lexend';
}

.menu {
display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: right;
  gap: 1rem;
}

.navbarContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 2.5rem;
} 

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000;
  font-family: 'lexend', sans-serif;
  font-size: 1rem;
}

a:hover {
  color: #b10bdb;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  font-family: lexend;
}

button {
  cursor: pointer;
  font-family: "lexend", sans-serif;
  background-color: #AD0BD6;
  color: white;
  border-radius: 16px;
  border-color: #AD0BD6;
  width: 185px;
  height: 35px;
  position: relative;
  z-index: 100;
}

button:hover {
  background-color: #f8ec51;
  color: rgb(199, 7, 202);
  transition: .2s;
}


.buttonSecondary {
  cursor: pointer;
  font-family: "lexend", sans-serif;
  background-color: white ;
  color: #AD0BD6;
  padding: .5rem;
  border-color: #AD0BD6;
  z-index: 100;
  position: relative;
  text-decoration-color: #5F0675;
  align-content: center;
  height: 35px;
}

.white {
  color: white;
}

/* main padding */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px;
  padding-top: 45px;
  gap: 1rem;
}


/* Hero section Stlyling */

.hero {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px;
  padding-top: 0;
  background-size: cover;
  background-position: center;
  gap: 1rem;

} 

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 45%;
}

.heroContent h1 {
  text-align: left;
  width: 90%;
  font-size: 3.5rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 0;
  line-height: 115%;
}

.heroContent p {
  text-align: left;
  max-width: 390px;
  gap: 0rem;
  margin: 0;
  margin-top: .5rem;
  margin-bottom: 1rem;

}

.heroConteiner  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}


.buttonsConteiner {
  display: flex;
  gap: 1rem;
  z-index: 100;
  position: relative;

}

.heroImages {
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
  margin-top: 2rem;
  margin-top: 3.75rem;
  width: 100%;
  z-index: -1000;
}

.banner {
  position: absolute;
  width: 100vw;
  height: auto;
  background-image: url('../assets/images/hero-banner.png');
  margin-top: 29rem;
  z-index: 1
}

@media (max-width: 768px) {

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding-top: 45px;
  gap: 1rem;
}

h1 {
  font-size: 3.5rem;
}

.heroConteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
}

.heroContent h1 {
  text-align: center;
  width: 100%;
  font-size: 3.5rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 0;
  line-height: 115%;
}

.heroContent p {
  text-align: center;
  max-width: 390px;
  gap: 0rem;
  margin: 0;
  margin-top: .5rem;
  margin-bottom: 1rem;

}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 90%;
}

.heroImages {
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
  margin-top: 2.5rem;
  margin-top: 3.75rem;
  width: 80%;
  z-index: -1000;
}

.banner {
  position: absolute;
  width: 100vw;
  height: auto;
  background-image: url('../assets/images/hero-banner.png');
  margin-top: 47rem;
  z-index: 1
}

.navbarContainer {
display: none;
} 

header button {
  display: none;
}

.menu {
display: block;
width: 2.3rem;
}

/* ----------------- */
.about {
  padding:  8px;
}

.about .content{
  text-align: center;
  width: 90%;
  font-size: 1.25rem;
  line-height: 145%;
  color: #000;
  font-family: 'lexend';
  gap: 1.5rem;
}
}
@media (max-width: 426px) {

header  {
  padding: 1rem;
}  

button {
  cursor: pointer;
  font-family: "lexend", sans-serif;
  background-color: #AD0BD6;
  color: white;
  border-radius: 16px;
  border-color: #AD0BD6;
  width: 120px;
  height: 35px;
  position: relative;
  z-index: 100;
  font-size: 1rem;
}

.heroContent h1 {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 0;
  line-height: 115%;
}

.heroContent p {
  font-size: 1rem;
  text-align: center;
  max-width: 390px;
  gap: 0rem;
  margin: 0;
  margin-top: .5rem;
  margin-bottom: 1rem;

}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 90%;
  margin-bottom: 2rem;
}

.heroImage {
  display: none;
}

.banner {
  position: absolute;
  width: 100vw;
  height: auto;
  background-image: url('../assets/images/hero-banner.png');
  margin-top: 17rem;
  z-index: 1
}

.navbarContainer {
display: none;
} 

header button {
  display: none;
}

.menu {
display: block;
width: 2.3rem;
} 

.buttonConteiner {
  display: flex;
  flex-direction: row-reverse;
  gap: .5rem;
}

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}
}
@media (max-width: 320px) {
  header  {
  padding: 1rem;
}  

button {
  cursor: pointer;
  font-family: "lexend", sans-serif;
  background-color: #AD0BD6;
  color: white;
  border-radius: 16px;
  border-color: #AD0BD6;
  width: 120px;
  height: 35px;
  position: relative;
  z-index: 100;
  font-size: 1rem;
}

.heroContent h1 {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 0;
  line-height: 115%;
}

.heroContent p {
  font-size: 1rem;
  text-align: center;
  max-width: 390px;
  gap: 0rem;
  margin: 0;
  margin-top: .5rem;
  margin-bottom: 1rem;

}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 90%;
  margin-bottom: 2rem;
}

.heroImage {
  display: none;
}

.banner {
  position: absolute;
  width: 100vw;
  height: auto;
  background-image: url('../assets/images/hero-banner.png');
  margin-top: 20rem;
  z-index: 1
}

.navbarContainer {
display: none;
} 

header button {
  display: none;
}

.menu {
display: block;
width: 2.3rem;
} 

.buttonConteiner {
  display: flex;
  flex-direction: row-reverse;
  gap: .5rem;
}

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}
}

/* //////////////////////////////////// */

/* About section styling */

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:  96px;
  margin-top: 16rem;
  margin-bottom: 10rem;
  gap: 1rem;
  height: auto;
}

.about img {
  position: absolute;
  top: 22rem;
  right: 60rem;
  width: 20%;
  height: auto;
  z-index: -1;
}

.about h1 {
  text-align: center;
  height: auto;
  width: 90%;
  justify-content: center;

}

.about .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  height: 100%;
  width: 44%;
}

.about .content p {
  text-align: center;
  width: 100%;
  font-size: 1.25rem;
  line-height: 145%;
  color: #000;
  font-family: 'lexend';
}

.about .content .button {
  cursor: pointer;
  font-family: "lexend", sans-serif;
  background-color: #AD0BD6;
  color: white;
  border-radius: 16px;
  border-color: #AD0BD6;
  width: 185px;
}

@media (max-width: 768px) {
  .about {
    padding:  8px;
  }

  .about .content{
  text-align: center;
  width: 90%;
  font-size: 1.25rem;
  line-height: 145%;
  color: #000;
  font-family: 'lexend';
  gap: 1.5rem;
}

.about img {
  position: absolute;
  top: 19rem;
  right: 10rem;
  width: 50%;
  height: auto;
  z-index: -1;
}

}

@media (max-width: 426px) {
    .about {
    margin: 10rem 0rem 14rem 0rem;
    padding:  8px;
    height: auto;
  }

  .about .content{
  text-align: center;
  width: 90%;
  font-size: 1.25rem;
  line-height: 145%;
  color: #000;
  font-family: 'lexend';
  gap: 1.5rem;
  margin-bottom: -7rem;
}

.about img {
  position: absolute;
  top: 13rem;
  right: 8rem;
  width: 50%;
  height: auto;
  z-index: -1;
}

.about .content p {
  font-size: 1rem;
}
}

@media (max-width: 320px) {
    .about {
    margin: 8rem 0rem 14rem 0rem;
    padding:  8px;
    height: auto;
  }

  .about .content{
  text-align: center;
  width: 90%;
  font-size: 1.25rem;
  line-height: 145%;
  color: #000;
  font-family: 'lexend';
  gap: 1.5rem;
  margin-bottom: -7rem;
}

.about img {
  position: absolute;
  top: 18rem;
  right: 6rem;
  width: 50%;
  height: auto;
  z-index: -1;
}

.about .content p {
  font-size: 1rem;
}
}

/* //////////////////////////////////// */

/* article styling */

.article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

}

.articleConteiner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width:100%;
}

@media (max-width: 768px) {

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px;
  gap: 4rem;
}  

.articleConteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.articleConteiner h1 {
  text-align: center;
}

.articleConteiner p {
  text-align: center;
}


}

@media (max-width: 426px) {
  .article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 4rem;
}  

.articleConteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.articleImage img {
  width: 20em;
}
.articleConteiner h1 {
  text-align: center;
}

.articleConteiner p {
  text-align: center;
}


}

@media (max-width: 320px) {
  .article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 90%;
}  

.articleConteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.articleImage img {
  width: 16em;
}
.articleConteiner h1 {
  text-align: center;
}

.articleConteiner p {
  text-align: center;
}

}

/* //////////////////////////////////// */

/* footer  */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem;
  background-color: #5F0675;
  color: white;

} 

.footerNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.8rem;
  color: white;
  font-family: 'lexend', sans-serif;
  margin-top: 2rem;
  padding: 0;
  width: 31.25em; ;
}

.footerNavbar li a {
  text-decoration: none;
  color: white;
  font-family: 'lexend', sans-serif;
  font-size: 1rem;
}

@media (max-width: 426px) {

  footer{
    padding: 4rem;
  }
  
  footer img{
    width: 20em;
  }

.footerNavbar li a {
  display: none;
}
}
@media (max-width: 320px) {
    footer{
    padding: 2rem;
  }
  
  footer img{
    width: 16em;
  }

.footerNavbar li a {
  display: none;
}
}

/* //////////////////////////////////// */



/* Paginas */


/* About */

.aboutUs {
  font-family: 'Host Grotesk', sans-serif;
  font-size: 4.4rem;
  font-weight: bold;
  line-height: 115%;
  margin: 96px;
  color: #000;   
  max-width: 982px;
  text-align: center;
}

.aboutArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3.5rem;
}

.academy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem ;
  padding: 0 96px;
  max-width: 78rem;
}

.academyContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 40%;
}


.academyContentBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 60%;
  padding-right: 80px;
}

.academyContent h1 {
  text-align: left;
  width: 100%;
}






/* Contact us */

.contactUsTitle {
  text-align: center;
  width: 1248px;
  margin: 5rem;
}

.contactContainer {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-evenly;
  padding: 96px;
  padding-top: 0;
  padding-bottom: 0;
  gap: 1rem;
  margin-bottom: -6.2rem;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  width: 40%;
}

.contactInfo h2 {
  text-align: left;
  width: 100%;
  margin: 0;
}



form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0rem;
  padding-bottom: 4rem;
  font-family: lexend;
  width: 100%;
}

form .buttonPrimary {
  cursor: pointer;
  font-family: "lexend", sans-serif;
  background-color: #AD0BD6;
  color: white;
  padding: .5rem;
  margin-top: 1rem;
  border-radius: 4px;
  border-color: #AD0BD6;
  width: 100%;
}


/* Carreras */

.carreras .conteiner
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.carreras .conteiner h1 {
  text-align: center;
  width: 100%;
  font-size: 4.4rem;
  font-weight: bold;
  line-height: 115%;
  margin-bottom: 3rem;
  color: #000;   
}

.carreras .content {
  text-align: flex-start;
  width: 60%;
  margin-bottom: .5rem;
}


.cardContainer {
  display: grid;
  width: 100%;
  max-height: fit-content;
  margin-top: 8rem;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 0rem;
  width: 100%;
  max-width: 22.75rem;
  max-height: 22.6rem;
  text-align: center;
  margin-top: 2rem;
}

.card:hover {
  border: .5px oklch(88.911% 0.00329 198.79) solid;
  box-shadow: 1px 1px 20px 1px #d368df8d;
  transition: .2s;
}

.card h2 {
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.card p {
  font-size: 1.25rem;
  line-height: 145%;
  color: #000;
  font-family: 'lexend';
  margin-top: 4px;
  margin-bottom: 2rem;
}
