$color:(

    primary: #f8f8f8,
    secondary: #000000,
    brand: #AD0BD6,
    accent: #f8ec51,

);

$fontSize:(

    xxl: 4.4rem,
    xl: 2.5rem,
    l: 1.7rem,
    md: 1.25rem,
    sm: 1rem,
    xsml: 0.8rem

);